@charset "utf-8";
/* CSS Document */
body
{
	margin:0px;
}
#box1
{
	width:100%;
	height:100px;
	border:solid 0px ;
}
#box2
{ 
    margin:0px auto;
	width:1366px;
	height:100px;
	background-color:#171a21;
}
#container
{
	margin:0px auto;
	width:1366px;
	height:1500px;
	border:solid 0px;
	background-color:#1b2838;
}
#box2 a
{
	margin-left:40px;
	text-decoration:none;
	color:#FFFFFF;
	opacity:0.6;
}
#box2 a:hover
{
	opacity:1;
	cursor:pointer;
}
#box3
{
	margin-top:-50px;
	margin-left:340px;
}
#yejiao
{
	margin:0px auto;
	width:1366px;
	height:120px;
	background-color:#101923;
	border:solid 0px;
}
#box4
{
	margin-left:300px;
	margin-top:-40px;
	border:solid 0px;
	width:800px;
	height:40px;
	background-color:#101923;
}
#box5
{
	width:900px;
	height:45px;
	background-color:#101923;
	border:solid 0px;
	margin-top:10px;
	margin-left:300px;
}
#box5 a
{
	text-decoration:none;
	color:#D8D1D2;
	font-size:20px;
}
#box5 a:hover
{
	color:#FFFFFF;
}
#box6
{
	margin:0px auto;
	width:1366px;
	height:200px;
	border:solid 0px;
	background-color:#000000;
}
#box6_img
{
	margin-left:630px; 
	margin-top:10px; 
	opacity:0.8;
}
#box6_img:hover
{
	opacity:1;
}
#box7
{
	margin-left:350px;
	margin-top:0px;
	width:1000px;
	height:50px;
	border:solid 0px;
	background-color:#000000;
}
#box8
{
	width:500px;
	height:50px;
	border:solid 0px;
	margin-left:570px;
	margin-top:20px;
}
#box8 a
{
	text-decoration:none;
	color:#FFFFFF;
}
#box8 a:hover
{
	color:#67c1f5;
}
#box9
{
	width:200px;
	height:19px;
	background-color:#171a21;
	border:solid 0px;
	margin-left:1150px;
	margin-top:-50px;
}
#box10
{
	width:200px;
	height:50px;
	margin-left:1160px;
    margin-top:20px;
	border:solid 0px;
	background-color:#171a21;
}
#box0
{
	width:50px;
	height:50px;
	border:solid 0px #171a21;
	background-color:#171a21;
	margin-left:1095px;
	margin-top:-65px;
}
#box11
{
	width:900px;
	height:40px;
	border:solid 1px ;
	margin-left:230px;
	background-color:#3c6a95;
}
#box11 a
{
	float:left;
	display:block;
	text-decoration:none;
	margin-left:0px;
	border-right:solid 2px #000000;
	padding:10px 30px 10px 30px;
	background-color:#5eb2e2;
	color:#FFFFFF;
	opacity:0.8;
}
#box11 a:hover
{
	opacity:1;
	cursor:pointer;
}
#box12
{
	width:235px;
	height:30px;
	border:solid 1px #000000;
	margin-left:645px;
	margin-top:5px;
	border-radius:4px;
}
#search
{
	height:30px;
	border:solid 0px;
	width:200px; 
	background-color:#5095c3;
}
#box12:hover
{
	border-color:#FFFFFF;
}
#box13
{
	width:1050px;
	height:120px;
	margin-top:30px;
	margin-left:140px;
	border-bottom:solid 2px #000000;
	box-shadow:0px 10px 10px #000000;
}
#box13_span
{
	font-size:60px;
	color:#c8d5e1;
	text-shadow:2px 2px 2px #8A8A8A;
	margin-left:80px;
}
#box13_span2
{
	font-size:60px;
	color:#c8d5e1;
	text-shadow:2px 2px 2px #8A8A8A;
}
#box14head
{
	width:200px;
	height:30px;
	border:solid 1px #28394d;
	margin-left:150px;
	margin-top:30px;
	background-color:#2a3f5a;
	
}
#box14headspan
{
	font-family:"楷体";
	color:#8f98a0;
	position:relative;
	top:5px;
}
#box14
{
	margin-top:0px;
	margin-left:150px;
	width:200px;
	height:250px;
	border:solid 1px #28394d;
}
#box14 a
{
	
	display:block;
	text-decoration:none;
	margin-top:18px;
	text-align:center;
	padding:10px 0px 10px 0px;
	color:#9fbbcb;
}
#box14 a:hover
{
	background-color:#283a50;
	color:#FFFFFF;
	cursor:pointer;
}
#box15
{
	margin-left:360px;
	margin-top:-288px;
	height:850px;
	width:800px;
}
.listItem
{
	margin-top:4px; 
	background-color:#151f2b; 
	height:200px; 
	width:778px;
	border:solid 2px #1b2838;
}
.listItem:hover
{
    border-color:#2F5C6C;
    cursor:pointer;
}
.goodsname
{
	margin-top:-180px;
	margin-left:300px;
}
.description
{
	margin-top:30px; 
	margin-left:300px; 
	word-wrap:break-word;
	width:300px; 
	height:80px;
}
.price
{
	margin-top:0px; 
	margin-left:600px;
}
.goodspic
{
	width:200px; 
	height:200px;
}

