@charset "utf-8";
/* CSS Document */
body
{
	margin:0px;
}
#box1
{
	width:100%;
	height:100px;
	border:solid 0px ;
}
#box2
{ 
    margin:0px auto;
	width:1366px;
	height:100px;
	background-color:#171a21;
}
#container
{
	margin:0px auto;
	width:1366px;
	height:900px;
	border:solid 0px;
	background-color:#1b2838;
}
#box2 a
{
	margin-left:40px;
	text-decoration:none;
	color:#FFFFFF;
	opacity:0.6;

}
#box2 a:hover
{
	opacity:1;
	cursor:pointer;
}
#box3
{
	margin-top:-50px;
	margin-left:340px;
}
#yejiao
{
	margin:0px auto;
	width:1366px;
	height:120px;
	background-color:#101923;
	border:solid 0px;
}
#box4
{
	margin-left:300px;
	margin-top:-40px;
	border:solid 0px;
	width:800px;
	height:40px;
	background-color:#101923;
}
#box5
{
	width:900px;
	height:45px;
	background-color:#101923;
	border:solid 0px;
	margin-top:10px;
	margin-left:300px;
}
#box5 a
{
	text-decoration:none;
	color:#D8D1D2;
	font-size:20px;
}
#box5 a:hover
{
	color:#FFFFFF;
}
#box6
{
	margin:0px auto;
	width:1366px;
	height:200px;
	border:solid 0px;
	background-color:#000000;
}
#box6_img
{
	margin-left:630px; 
	margin-top:10px; 
	opacity:0.8;
}
#box6_img:hover
{
	opacity:1;
}
#box7
{
	margin-left:350px;
	margin-top:0px;
	width:1000px;
	height:50px;
	border:solid 0px;
	background-color:#000000;
}
#box8
{
	width:500px;
	height:50px;
	border:solid 0px;
	margin-left:570px;
	margin-top:20px;
}
#box8 a
{
	text-decoration:none;
	color:#FFFFFF;
}
#box8 a:hover
{
	color:#67c1f5;
}
#box9
{
	width:200px;
	height:19px;
	background-color:#171a21;
	border:solid 0px;
	margin-left:1150px;
	margin-top:-50px;
}
#box10
{
	width:200px;
	height:50px;
	margin-left:1160px;
    margin-top:20px;
	border:solid 0px;
	background-color:#171a21;
}
#box0
{
	width:50px;
	height:50px;
	border:solid 0px #171a21;
	background-color:#171a21;
	margin-left:1095px;
	margin-top:-65px;
}
#box12
{
	width:900px;
	height:250px;
	background-color:#141e2a;
	margin-left:200px;
	box-shadow:10px 10px 10px #000000;
}
.p_headimg
{
	width:200px;
	height:200px;
	margin-left:23px;
	margin-top:23px;
}
.p_username
{
	margin-top:-180px;
	margin-left:300px;
	color:#c9d5e1;
	font-weight:600;
}
.p_age
{
	margin-left:300px;
	margin-top:40px;
	color:#c9d5e1;
	font-weight:600;
}
.p_email
{
	margin-left:300px;
	margin-top:40px;
	color:#c9d5e1;
	font-weight:600;
}
.p_phone
{
	margin-left:650px;
	margin-top:-130px;
	color:#c9d5e1;
	font-weight:600;
}
.p_address
{
	margin-left:650px;
	margin-top:40px;
	color:#c9d5e1;
	font-weight:600;
}
#box13
{
	width:900px;
	height:400px;
	border:solid 3px #060a0e;
	box-shadow:10px 10px 10px #000000;
	margin-left:200px;
	margin-top:50px;
	color:#c9d5e1;
	font-weight:600;
	text-align:center;
}
#username
{
	margin-top:50px;
	margin-left:50px;
	border:solid 1px #171a21;
	width:80px;
	height:30px;
	background-color:#141e2a;
}
#username_span
{
	position:relative;
	top:5px;
}
#username_input
{
	position:relative;
	top:-32px;
	left:-210px;
	height:25px;
	background-color:#282c32;
	border:solid 2px #787878;
}
#age
{
	margin-top:0px;
	margin-left:50px;
	border:solid 1px #171a21;
	width:80px;
	height:30px;
	background-color:#141e2a;
}
#age_span
{
	position:relative;
	top:5px;
}
#age_input
{
	position:relative;
	top:-32px;
	left:-210px;
	height:25px;
	background-color:#282c32;
	border:solid 2px #787878;
}
#email
{
	margin-top:0px;
	margin-left:50px;
	border:solid 1px #171a21;
	width:80px;
	height:30px;
	background-color:#141e2a;
}
#email_span
{
	position:relative;
	top:5px;
}
#email_input
{
	position:relative;
	top:-32px;
	left:-210px;
	height:25px;
	background-color:#282c32;
	border:solid 2px #787878;
}
#phone
{
	margin-top:0px;
	margin-left:50px;
	border:solid 1px #171a21;
	width:80px;
	height:30px;
	background-color:#141e2a;
}
#phone_span
{
	position:relative;
	top:5px;
}
#phone_input
{
	position:relative;
	top:-32px;
	left:-210px;
	height:25px;
	background-color:#282c32;
	border:solid 2px #787878;
}
#address
{
	margin-top:0px;
	margin-left:50px;
	border:solid 1px #171a21;
	width:80px;
	height:30px;
	background-color:#141e2a;
}
#address_span
{
	position:relative;
	top:5px;
}
#address_input
{
	position:relative;
	top:-32px;
	left:-210px;
	height:25px;
	background-color:#282c32;
	border:solid 2px #787878;
}
#headimgdiv
{
	border:solid 1px #171a21;
	width:80px;
	height:30px;
	background-color:#141e2a;
	margin-left:500px;
	margin-top:-315px;
}
#headimgdiv_span
{
	position:relative;
	top:5px;
}
#headimg_file
{
	position:relative;
	top:-25px;
	left:280px;
}
#headimg_see
{
	width:200px;
	height:200px;
	background-color:#141e2a;
	margin-left:610px;
	margin-top:10px;
}
#box14
{
	width:120px;
	height:40px;
	background-color:#243e54;
	margin-top:30px;
	margin-left:600px;
	border-radius:3px;
	color:#66c1f5;
	text-align:center;
	box-shadow:10px 10px 10px #000000;
}
#box14_span
{
	position:relative;
	top:10px;
}
#box14:hover
{
	cursor:pointer;
	background-color:#62baeb;
	color:#FFFFFF;
}


